.left {
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    width: 23%;
}

.leftTop {
    padding: 25px;
    margin-bottom: 32px;
    min-height: 260px;
    background-color: var(--light-grey);
}

.currentDay {
    margin: 0;
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: var(--black);
}

.currentDayData {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--black);
}

.leftBottom {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
    min-height: 216px;

}

.leftBottomWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.leftBottomWrapper span {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: var(--dark-grey);
}

.tomatoCount {
    margin-top: 25px;
    padding: 9px 0;
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: var(--white);
    background-color: var(--red);
}

.workTime {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--black);
}

.workTime span {
    color: var(--red);
}