.container {
    padding: 100px 80px;
}

.center {
    display: flex;
    margin-bottom: 32px;
}


.bottom {
    display: flex;
    flex-direction: row;
}

.bottom *:not(:last-child) {
    margin-right: 32px;
}